*,::after,::before{-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:Roboto,Arial,Helvetica,sans-serif;}
a img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
td{border:0;margin:0;padding:0;}
sub{vertical-align:baseline;}
a{color:#2c509a;}
.nt a:hover{color:#ff8d02;}
.h{cursor:pointer;cursor:hand;}
.nobr{white-space:nowrap;}
.u,u{text-decoration:underline;}
.no-u{text-decoration:none;}
.ib{display:inline-block;zoom:1;*display:inline;_overflow:hidden;}
em{text-decoration:none!important;border-bottom-width:0;border-bottom-style:none;font-style:normal;cursor:pointer;}
.js em{text-decoration:none!important;border-bottom-style:none;}
.model-short-block{margin:0;width:100%;}
.model-hot-prices>tbody>tr{vertical-align:top;}
.model-short-block>tbody>tr:first-child{height:1px;}
.model-short-block>tbody>tr:last-child{vertical-align:top;}
.model-shop-name{font-size:13px;padding:2px 0 3px;}
.model-shop-arr{color:#ff8d02;}
.model-shop-price{white-space:nowrap;font-size:14px;padding:2px 0 2px 8px;}
.model-shop-price a{color:#ff8d02;text-decoration:none;}
.model-hot-prices-td{border-left:1px solid #efefef;padding:0 0 10px 15px;width:34%;position:relative;}
.model-hot-prices-td>div{min-width:270px;}
.model-all-shops{color:#ff8d02;text-decoration:none;padding:2px 6px 3px;font-size:12px;position:relative;left:-6px;margin:0;}
.model-all-shops u{text-decoration:none;}
.model-all-shops sub{position:relative;top:3px;font-size:10px;margin:0 .25em;}
.nt .model-short-div:hover .model-all-shops{border-radius:11px;}
.sn-div{width:200px;overflow:hidden;white-space:nowrap;position:relative;padding-left:18px;left:-18px;}
.sn-shadow{background:url(https://n-katalog.ru/img/hot-price-bg-1.png) right top repeat-y;width:15px;height:15px;position:absolute;right:0;top:0;}
.nt .model-short-div:hover .sn-shadow{background:url(https://n-katalog.ru/img/hot-price-bg-2.png) right top repeat-y;}
.model-price-range{text-align:right;font-size:11px;color:#ff8d02;padding:0 0 3px;position:relative;}
.model-hot-prices-td .model-price-range{top:-4px;}
.model-price-range span{font-size:23px;}
.model-price-range a{color:#ff8d02;text-decoration:none;display:inline-block;}
.model-short-links{font-size:12px;padding:3px 0 0;}
.model-short-description{font-size:12px;color:#444;padding:2px 0 0;}
.model-short-info{padding:0 15px 10px 20px;width:100%;}
.model-short-photo,.model-short-photo img,.model-short-photo tbody,.model-short-photo tr{display:block;}
.model-short-photo{width:200px;}
.model-short-photo tr{height:auto!important;vertical-align:baseline!important;}
.model-short-photo td{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;}
.model-short-photo img{max-width:200px;max-height:200px;margin:0 auto;}
.model-short-photo .list-img{padding:2px;background-color:#fff;border:1px solid transparent;border-radius:6px;-moz-box-sizing:content-box;box-sizing:content-box;}
.model-short-div:hover .model-short-photo .list-img{border-color:#e0e0e0;}
.model-short-comare-link{font-size:14px;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;height:20px;}
.model-short-div .model-short-comare-link{margin:10px 0;}
input:focus{outline:0;}
.model-short-div:hover .model-all-shops{color:#fff;background-color:#ff8b2b;background-image:-webkit-gradient(linear,left top,left bottom,from(#fea94a),to(#ff6808));background-image:-webkit-linear-gradient(#fea94a,#ff6808);background-image:linear-gradient(#fea94a,#ff6808);}
.model-short-div:hover .model-all-shops:hover{color:#fff!important;background-color:#ff8b2b;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffb95a),to(#ff7818));background-image:-webkit-linear-gradient(#ffb95a,#ff7818);background-image:linear-gradient(#ffb95a,#ff7818);}
@media (max-width:1199px){
    table{border:0;border-collapse:collapse;}
    td{padding:0;}
    .model-hot-prices-td>div{min-width:200px;}
}
.model-shop-price{position:relative;}
@media (max-width:1280px){
    .sn-div{width:140px;padding-left:0;left:0;}
}
.l-pr-pd{padding-bottom:25px;}
.m-s-f2{margin:5px 0 6px;}
.m-s-f2>div{color:#222;font-size:14px;margin:0 0 3px;position:relative;}
.m-s-f2 div span{color:#999;display:inline-block;margin:0 4px 0 0;}
.custom-checkbox{position:absolute;opacity:0;}
.custom-checkbox+label em{font-size:14px;display:inline-block;}
.custom-checkbox+label em{color:#888;}
.custom-checkbox+label em{border-bottom:0;}
.model-short-comare-link .custom-checkbox+label em:first-letter{text-transform:uppercase;}
.custom-checkbox:checked+label,.custom-checkbox:not(:checked)+label{position:relative;padding-left:27px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;max-width:100%;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:20px;line-height:20px;}
.custom-checkbox:checked+label:before,.custom-checkbox:not(:checked)+label:before{content:'';position:absolute;left:0;top:0;width:20px;height:20px;}
.custom-checkbox:not(:checked)+label:before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cmVjdCB3aWR0aD0nMTknIGhlaWdodD0nMTknIHg9Jy41JyB5PScuNScgZmlsbD0nI2ZmZicgc3Ryb2tlPScjOTk5JyByeD0nMi41Jy8+PC9zdmc+);}
.custom-checkbox:checked+label:before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cmVjdCB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIGZpbGw9JyNGRjhCMDYnIHJ4PSczJy8+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTcuNTY5NjUgMTQuMTI1OSAzLjEzOTE2IDkuNjkwODlDMy4wNDk0MiA5LjU4NzY0IDMgOS40NTU0NSAzIDkuMzE4NjZjMC0uMTM2OC4wNDk0Mi0uMjY4OTkuMTM5MTYtLjM3MjI0bC42OTkwNy0uNjk5MDdjLjEwMTktLjA5MjUxLjIzNDYtLjE0Mzc1LjM3MjIzLS4xNDM3NXMuMjcwMzMuMDUxMjQuMzcyMjQuMTQzNzVsMy4zODE4OCAzLjM1OTE1IDcuNDQ5MjItNy40NjczNEMxNS41MTcgNC4wNDk0MiAxNS42NDkyIDQgMTUuNzg2IDRjLjEzNjggMCAuMjY5LjA0OTQyLjM3MjMuMTM5MTZsLjY5OS42OTkwN2MuMDkxOS4xMDMxMS4xNDI3LjIzNjM5LjE0MjcuMzc0NXMtLjA1MDguMjcxNC0uMTQyNy4zNzQ1MUw4LjMxODY2IDE0LjEyNTljLS4xMDM5OC4wOTAxLS4yMzY5NC4xMzk3LS4zNzQ1MS4xMzk3cy0uMjcwNTItLjA0OTYtLjM3NDUtLjEzOTdaJy8+PC9zdmc+);}
.custom-checkbox:disabled:not(:checked)+label:before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cmVjdCB3aWR0aD0nMTknIGhlaWdodD0nMTknIHg9Jy41JyB5PScuNScgZmlsbD0nI2ZmZicgc3Ryb2tlPScjOTk5JyBvcGFjaXR5PScuNCcgcng9JzIuNScvPjwvc3ZnPg==);}
.custom-checkbox:disabled:checked+label:before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cmVjdCB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIGZpbGw9JyNGRjhCMDYnIG9wYWNpdHk9Jy40JyByeD0nMycvPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J003LjU2OTY1IDE0LjEyNTkgMy4xMzkxNiA5LjY5MDg5QzMuMDQ5NDIgOS41ODc2NCAzIDkuNDU1NDUgMyA5LjMxODY2YzAtLjEzNjguMDQ5NDItLjI2ODk5LjEzOTE2LS4zNzIyNGwuNjk5MDctLjY5OTA3Yy4xMDE5LS4wOTI1MS4yMzQ2LS4xNDM3NS4zNzIyMy0uMTQzNzVzLjI3MDMzLjA1MTI0LjM3MjI0LjE0Mzc1bDMuMzgxODggMy4zNTkxNSA3LjQ0OTIyLTcuNDY3MzRDMTUuNTE3IDQuMDQ5NDIgMTUuNjQ5MiA0IDE1Ljc4NiA0Yy4xMzY4IDAgLjI2OS4wNDk0Mi4zNzIzLjEzOTE2bC42OTkuNjk5MDdjLjA5MTkuMTAzMTEuMTQyNy4yMzYzOS4xNDI3LjM3NDVzLS4wNTA4LjI3MTQtLjE0MjcuMzc0NTFMOC4zMTg2NiAxNC4xMjU5Yy0uMTAzOTguMDkwMS0uMjM2OTQuMTM5Ny0uMzc0NTEuMTM5N3MtLjI3MDUyLS4wNDk2LS4zNzQ1LS4xMzk3Wicgb3BhY2l0eT0nLjQnLz48L3N2Zz4=);}
.list-conf-name{color:grey;}
.model-short-title .list-conf-name{font-size:75%;vertical-align:top;line-height:1;}
.model-price-range>a+.jouter-white.compare-and-buy-tt-oes{bottom:-webkit-calc(100% + 4.5px);bottom:calc(100% + 4.5px);opacity:0;padding:20px;right:0;z-index:-1;-webkit-transition:opacity .2s .4s;transition:opacity .2s .4s;pointer-events:none;}
.model-price-range>a:hover+.jouter-white.compare-and-buy-tt-oes{opacity:1;z-index:3;pointer-events:auto;}
.jouter-white{text-align:left;position:absolute;width:300px;}
.jouter-white .jcontent{font-family:Roboto,Arial,Helvetica,sans-serif;font-style:normal;font-weight:400;font-size:13px;color:#555;line-height:normal;border:0;white-space:normal!important;}
.jouter-white .arrow{padding:0!important;margin:0!important;border:0;width:17px;height:9px;position:absolute;background-repeat:no-repeat;}
.jouter-white>.right{right:15px;}
.jouter-white{padding:20px 25px 30px;background:#fff;border-radius:6px;box-shadow:0 0 10px 0 rgba(0,0,0,.4);}
.jouter-white>.top{bottom:-9px;background-image:url(https://n-katalog.ru/img/t_arr_new.gif);background-position:bottom left;}
.addto-wishlist{background-repeat:no-repeat;background-size:23.16px 20px;color:#555;cursor:pointer;display:inline-block;height:20px;line-height:20px;padding-left:23.16px;}
.addto-wishlist:hover{color:#ff8d02;}
.addto-wishlist:focus{outline:0;}
.addto-wishlist.heart-empty{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAxOSI+PHBhdGggZmlsbD0iI2ZlZmVmZSIgZD0iTTE2LjgzIDExLjE5bC01LjkgNS45IC01Ljg5IC01LjkgLTIuOTUgLTIuOTVjLTEuNjMsLTEuNjIgLTEuNjMsLTQuMjYgMCwtNS44OSAxLjYzLC0xLjYzIDQuMjcsLTEuNjMgNS45LDBsMi45NCAyLjk1IDIuOTUgLTIuOTVjMS42MywtMS42MyA0LjI3LC0xLjYzIDUuOSwwIDEuNjMsMS42MyAxLjYzLDQuMjcgMCw1Ljg5bC0yLjk1IDIuOTV6Ii8+PHBhdGggZmlsbD0iIzk5OSIgZD0iTTIwLjM0IDEuNjVjLTIuMjEsLTIuMjEgLTUuOCwtMi4yMSAtOC4wMSwwbC0xLjMzIDEuMzQgLTEuMzQgLTEuMzNjLTIuMjEsLTIuMjIgLTUuNzksLTIuMjIgLTguMDEsMCAtMi4yLDIuMjEgLTIuMiw1Ljc5IDAsOGwxLjM0IDEuMzMgOC4wMSA4LjAxIDguMDEgLTguMDEgMS4zMyAtMS4zM2MyLjIxLC0yLjIxIDIuMjEsLTUuOCAwLC04LjAxbDAgMHptLTQuMDEgOS4zNGwtNS4zMyA1LjM0IC01LjM0IC01LjM0IC0yLjY3IC0yLjY2Yy0xLjQ3LC0xLjQ4IC0xLjQ3LC0zLjg3IDAsLTUuMzQgMS40OCwtMS40NyAzLjg3LC0xLjQ3IDUuMzQsMGwyLjY3IDIuNjcgMi42NyAtMi42N2MxLjQ3LC0xLjQ3IDMuODYsLTEuNDcgNS4zNCwwIDEuNDcsMS40NyAxLjQ3LDMuODYgMCw1LjM0bC0yLjY4IDIuNjZ6Ii8+PC9zdmc+);}
.addto-wishlist.heart-empty:hover{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAxOSI+PHBhdGggZmlsbD0iI2ZlZmVmZSIgZD0iTTE2LjgzIDExLjE5bC01LjkgNS45IC01Ljg5IC01LjkgLTIuOTUgLTIuOTVjLTEuNjMsLTEuNjIgLTEuNjMsLTQuMjYgMCwtNS44OSAxLjYzLC0xLjYzIDQuMjcsLTEuNjMgNS45LDBsMi45NCAyLjk1IDIuOTUgLTIuOTVjMS42MywtMS42MyA0LjI3LC0xLjYzIDUuOSwwIDEuNjMsMS42MyAxLjYzLDQuMjcgMCw1Ljg5bC0yLjk1IDIuOTV6Ii8+PHBhdGggZmlsbD0iI2ZmOGQwMiIgZD0iTTIwLjM0IDEuNjVjLTIuMjEsLTIuMjEgLTUuOCwtMi4yMSAtOC4wMSwwbC0xLjMzIDEuMzQgLTEuMzQgLTEuMzNjLTIuMjEsLTIuMjIgLTUuNzksLTIuMjIgLTguMDEsMCAtMi4yLDIuMjEgLTIuMiw1Ljc5IDAsOGwxLjM0IDEuMzMgOC4wMSA4LjAxIDguMDEgLTguMDEgMS4zMyAtMS4zM2MyLjIxLC0yLjIxIDIuMjEsLTUuOCAwLC04LjAxbDAgMHptLTQuMDEgOS4zNGwtNS4zMyA1LjM0IC01LjM0IC01LjM0IC0yLjY3IC0yLjY2Yy0xLjQ3LC0xLjQ4IC0xLjQ3LC0zLjg3IDAsLTUuMzQgMS40OCwtMS40NyAzLjg3LC0xLjQ3IDUuMzQsMGwyLjY3IDIuNjcgMi42NyAtMi42N2MxLjQ3LC0xLjQ3IDMuODYsLTEuNDcgNS4zNCwwIDEuNDcsMS40NyAxLjQ3LDMuODYgMCw1LjM0bC0yLjY4IDIuNjZ6Ii8+PC9zdmc+);}
.view-type-3 .list-img-star .addto-wishlist{position:absolute;z-index:11;}
.view-type-3 .list-img-star .addto-wishlist.heart-empty,.view-type-3 .list-img-star .addto-wishlist.heart-empty:hover{background-size:32.42px 28px;padding-left:32.42px;height:28px;line-height:28px;}
/*! CSS Used from: https://n-katalog.ru/css/list.css */
.model-short-div{background-color:#fff;padding:15px;position:relative;}
.model-short-div{border-bottom:1px solid #efefef;}
.model-short-div:not(.not-hover):hover{background-color:#f6f6f6;border-bottom-color:#e2e2e2;}
.model-short-div:hover .model-hot-prices-td{border-left-color:#e2e2e2;}
.model-short-title{display:inline-block;font-size:18px;}
.model-short-title .u{text-decoration:none;}
.model-short-controls{background-color:#fff;height:100%;left:-50px;position:absolute;top:0;visibility:hidden;width:50px;}
.model-short-div:hover>.model-short-controls:not(:empty){visibility:visible;}
.m-c-f1-pl--button>.ib>a{color:inherit;text-decoration:inherit;}
.m-c-f1-pl--button>span>a{padding:7px 11px;display:inline-block;}
.m-c-f1-pl--button{margin:7px 0 0;}
.m-c-f1-pl--button>span{margin:5px 5px 0 0;cursor:pointer;border:1px solid #bbb;display:inline-block;border-radius:5px;color:#bbb;font-size:12px;background-color:#fff;}
.m-c-f1-pl--button>span.current{border-width:2px;border-color:#2c509a;color:#2c509a;padding:7px 11px;}
.m-c-f1-pl--button>span.in-filter:not(.current){border-color:#6c85b9;color:#6c85b9;}
.m-c-f1-pl--button>span:not(.current):hover{border-color:#ff8d02;color:#ff8d02;}
.m-c-f1-pl--button>span:last-child{margin-right:0;}
.list-img-star{position:absolute;font-size:0;}
body.view-type-3 .list-img-star{top:-7px;left:-15px;}
body.view-type-3 .list-img-star .addto-wishlist.heart-empty{display:none;}
body.view-type-3.nt .model-short-div:hover .list-img-star .addto-wishlist.heart-empty{display:block;}
